*{
    margin: 0;
    padding:0;
   box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

    /*Header*/
header {
    border: 1px solid red;
    height: 250px;
    position: relative;
    right: 20px;
}

header .navbar ul li {
    margin-left: 15px;
    margin-top: 10px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.header input[type=submit] {
    background-color:#1a73e8;
    border: 1px solid #1a73e8;
    color: #fff;
    font-size: 14px;
    margin-top: -10px;
    min-width: 100px;
    text-align: center;
    cursor:pointer;
    user-select: none;
 }

    /*Section*/
section {
    border: 1px solid rgb(0, 17, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

section .navbar ul li {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    padding: 3px;
    }

input[type=submit] {
    background-color:#f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding:0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor:pointer;
    user-select: none;
 }


    /*Footer*/
footer {
    background-color: #F2F2F2;
    height: 100px;
}

.country {
    padding: 15px 30px;
    height: 50%;
    border-bottom: 1px solid lightgray;
} 

.country p {
    color: #70757a;
    font-size: 14px;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer-content {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.footer-content ul li a {
    font-size: 14px;
    color: gray;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.left-footer {
    display: flex;
}

.right-footer {
    display: flex;
}

.left-footer li {
    margin-right: 15px;
}

.right-footer li {
    margin-left: 15px;
}